<h1>Stupid coaching</h1>

<div class="row">
  <div class="border">
  </div>
  <div class="text">
    <h2 class="title"><%= @question %></h2>
    <h2>- You</h3>
  </div>
</div>

<div class="row">
  <div class="border">
  </div>
  <div class="text">
    <h2 class="title"><%= @answer %></h2>
    <h2>- Your coach</h2>
  </div>
</div>

<%= link_to 'Ask a new question', ask_path %>
